// {
//     "presets": ["next/babel",
//         "@zeit/next-typescript/babel"],
//     "plugins": [["styled-components", { "ssr": true } ], [
//         "react-css-modules",
//         {
//             "exclude": "node_modules",
//             "generateScopedName": "[local]_[hash:base64:5]"
//         }
//       ]]
// }
{
    "presets": [
    //     ["next/babel", {
    //     "preset-env": { "targets": { "node": "current" } }
    //   }]
      ["next/babel",
        {
          "preset-env": {
            "targets": {
              "chrome": "73",
              "node": "11"
            }
          }
        }]
    ],
    "plugins": [["styled-components", { "ssr": true }]]
}