// {
//     "presets": ["next/babel",
//         "@zeit/next-typescript/babel"],
//     "plugins": [["styled-components", { "ssr": true } ], [
//         "react-css-modules",
//         {
//             "exclude": "node_modules",
//             "generateScopedName": "[local]_[hash:base64:5]"
//         }
//       ]]
// }
{
    "presets": ["next/babel"],
    "plugins": [["styled-components", { "ssr": true }]],
}