.itemCardWraper {
    // background-color: #DCB926;
    margin: 0 23px 0px 23px;
}

.itemImageWraper {
    float: left;
    margin: 10px 10px 0 10px;
}

.itemContentWraper {
    font-size: 18px;
    text-align: justify;
}

.itemTitleWraper {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}