.descriptionBlock {
    justify-content: center;
    background-color: rgb(192, 62, 44);
    display: flex;
}

;

.backgroundColor {
    background-color: rgba(130, 79, 79, 1);
    height: 100%;
}

;

.filterButtonWithInfoGroup {
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}

;

.focus {
    .MuiOutlinedInput-input {
        text-align: center;
    }
}

;

.itemImages {
    width: 200px;
    height: 250px;
    margin: 0px 10px;
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgb(223, 158, 149), rgb(202, 203, 206));
    border-image-slice: 1;
}

/**  STYLE 3 */
#style-3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/**  STYLE 2 */
#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(192, 62, 44);
}

#style-2::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.test {
    .scrollbar-track-y {
        width: 2px;

        .scrollbar-thumb {
            background-color: rgb(192, 62, 44);
        }
    }
}

.filterPageButtomZoom {
    width: 40px;
    right: 15px;
    top: 5px;
    position: absolute;
}

.filterPageButtomClose {
    position: absolute;
    top: 0px;
    width: 30px;
    right: 0px;
    border-radius: 0 17px 0 0;
}