/* .example {
    display: none;
}; */

/* .images {
    width: 1171px;
}; */

/* @import "../../fonts.scss"; */

/* .hello {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0.8;
    top: 80%;
    height: 20%;
    width: 100%;
    background-color: black;
    z-index: 2
} */